<%- include("header")-%>
    <div class="box" id="heading"><h1> <%=listtitle%> </h1></div>
    <div class="box">
        <% newlistitems.forEach(function(eachitem){ %>
           <form action="/delete" method="post">
            <div class="item">
                <input type="checkbox" name="checkbox" value="<%= eachitem._id %>" onchange="this.form.submit()">
                <p><%= eachitem.name %></p> 
            </div>
        </form>
         <% })%>
         <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item">
            <button type="submit" name="list" value=<%=listtitle%>>+</button>
        </form>
     </div>

     <%- include("footer")-%> 
   